.businessContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    333deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(171, 238, 205, 1) 100%
  );
  color: black;
  overflow: hidden;
}

.businessImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.businessImage img {
  height: 344px;
  width: 400px;
  border: 0px white solid;
  border-radius: 100%;
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topnav {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
}

.search-container form {
  margin: 30px;
  display: flex;
  flex-direction: row;
}

.searchInput {
  width: 600px;
  height: 40px;
  /* border: 2px tra solid; */
  margin: 60px;
  padding: 20px;
  margin-right: 0px;
}

.searchButton {
  width: 220px;
  height: 40px;
  border: 2px transparent solid;
  margin: 60px;
  margin-left: 0px;
  background-color: rgb(44, 169, 119);
  color: white;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}

.searchButton:hover {
  width: 220px;
  height: 44px;
  border: 2px transparent solid;
  margin: 20px;
  margin-left: 0px;
  background-color: rgb(13, 108, 70);
  color: white;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}

.businessCardOverflow {
  overflow-y: scroll;
}

.businessImg{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.businessImg img{
  margin-top: 60px;
  border-radius: 20px;
}

.supplierCardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.supplierCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 400px; */
  color: Black;
  background: #fff;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-top: 70px;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 20px;

}

.supplierCard h1{
  margin: 0;
}

