.businessContainer{
  display:flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: rgb(255,255,255);
background: linear-gradient(333deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(171,238,205,1) 100%);
color: black;
  
}

.businessImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.businessImage img{
  height: 344px;
  width: 400px;
  border: 0px white solid;
  border-radius: 100%;
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topnav{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width:100%;
  
}

.search-container form{
  margin: 30px;
  display: flex;
  flex-direction: row;
  
}

.searchInput{
  width: 600px;
  height: 40px;
  /* border: 2px tra solid; */
  
  margin: 20px;
  margin-right: 0px;
}
.searchButton{
  width: 220px;
  height: 44px;
  border: 2px transparent solid;
  margin: 20px;
  margin-left: 0px;
  background-color: rgb(44, 169, 119);
  color: white;
  cursor: pointer;
  font-size: larger;
  font-weight:bold;
}

.searchButton:hover{
  width: 220px;
  height: 44px;
  border: 2px transparent solid;
  margin: 20px;
  margin-left: 0px;
  background-color: rgb(13, 108, 70);
  color: white;
  cursor: pointer;
  font-size: larger;
  font-weight:bold;
}

.businessCardOverflow{
 overflow-y: scroll;
}

/* .businessFullCardOverflow{
  overflow-y: scroll;
} */




