.communityContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/* .communityProfileContainer{
    background-color: black;
    width: 500px;
    height: auto;
    margin: 50px;
    padding: 30px;
}

#btn-edit-profile{
    
} */


@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.containerCommunity {

  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:transparent;
  font-family: 'Baloo Paaji 2', cursive;
}

.Community .card {
  background-color: #efe7e7e6;
  height: 37rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: black;
  width: 500px;
  margin: 50px;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px white;
}



/* .social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: var(--brand-gradient);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
} */





.Community .AlumniProfile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #d9d9d98c;
    width: 400px;
    height: 100%;
    padding: 50px;
    color: #1f1f1f;
    overflow-y: auto;
}

.profilePic{
  height: 50px;
}
