
.supplierBannerImg img {
    width: 100%;
    height: 70vh;
}

.supplierCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.supplierCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    color: Black;
    background: #fff;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 3px solid rgba(255, 255, 255, 0.5);
    margin-top: 130px;
    text-align: center;
    padding: 2px;
    margin-bottom: 50px;
}



.supplierContainer h1{
    margin: 0px;
}

.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 100px;
}

.formImg{
    background-color: grey;
    height: 700px;
    width: 400px;
    border: 2px solid black;
}

.formImg Img {
    height: 696px;
    width: 396px
} 
.formDetails{
 margin-left: 1px;
 height: 700px;
 width: 800px;
 border: 2px black solid;
 padding: 15px;
}

label{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 3px;
    color: black
}

input{
    height: 35px;
    width:300px;
    border:1px rgb(200, 195, 195) solid;
    border-radius: 5px;
    margin-bottom: 20px;


}

.detailsContainer{
    display: flex;
    justify-content: space-between;
}

.AboutInput input{
    width: 100%;
}

.imgInput{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  
}

.imgInput input{
    margin: 10px;
}

.formSubmitButton{
    background-color: rgb(14, 128, 77);
    height: 50px;
    width: 100%;
    border: 0px;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.formSubmitButton:hover{

    background-color: rgb(7, 79, 47);
    height: 50px;
    width: 100%;
    border: 0px;
    color: black;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}