.cmfContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.CommnunityPostForm {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 512px;
    justify-content: flex-start;
    align-items: stretch;
    background: #ffffffde;
    box-shadow: 0 2px 5px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 17px );


    /* padding: 10px; */
  }
  
  .CommnunityPostForm .formHeader {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.9);
  }

  .close{
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  .close:hover{
    cursor: pointer;
  }

  .CommnunityPostForm .username{
    font-size: 20px;
    margin: 0 10px;
    color: rgba(0,0,0,0.9);

  }
  
  .CommnunityPostForm > * {
    /* width: 100%; */
    border-bottom: 1px solid rgba(0,0,0,0.8);
    padding: 16px 24px;


    /* padding: 10px; */
  }
  
  .CommnunityPostForm > *:last-child {
    border: none;

  }
  
  .userDetail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .CommnunityPostForm #userImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    border: 0.5px solid black
  }
  
  .CommnunityPostForm .writeContent {
    display: block;
    max-height: 300px;
    overflow: auto;
  }
  
  .CommnunityPostForm .writeContent textarea {
    background-color: transparent;
    resize: verticle;
    border: none;
    outline: none;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px
  }
  
  .CommnunityPostForm .writeContent img {
    width: 100%;
    border: 5px solid lightgray;
    border-radius: 10px;
  }
  
  .CommnunityPostForm .actionButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .CommnunityPostForm .actionButton #btnPost {
    padding: 5px 15px;
    border-radius: 20px;
  }
  
  #uploadPicture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--dark-text);
    border: 1px solid black;
    color: black;
    border-radius: 20px;
    padding: 5px 15px;
  }

  #uploadPicture:hover{
    background-color: var(--dark-text);
    cursor: pointer;
    color: white;
    background-color: lightgray;
  }

  #uploadPicture span{
    margin-left: 5px;
  }
  